<div class="container pt-4">
    <div class="row">
        <div class="container">
            <div class="container">
                <h1 class="row">
                    <a href="#" class="overflow-hidden logo_link">Anser_logo</a>
                </h1>
            </div>
            <div class="container">
                <div class="list-unstyled list-group ">
                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">bar_chart_4_bars</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Dashboard</span>
                    </a>
                    
                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">forum</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Question</span>
                    </a>
                    

                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">assignment</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Assignment</span>
                    </a>

                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">video_library</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Course</span>
                    </a>
                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">group</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Admin</span>
                    </a>
                    <a href="#" class="col text-decoration-none list-group-item d-flex border-0 border-5 $success py-1 lh-lg text-center align-items-center my-2 list-group-item-atcion menu_hover" >
                        <span class="material-symbols-outlined md-24 text-decoration-none mx-0 pe-2 d-block">settings</span>
                        <span href="#" class="text-decoration-none fw-bold lh-4">Settings</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-3 p-0">
                        <div class=" avatar-side overflow-hidden rounded-circle">
                            <img class="img-fluid
                                " src="../assets/images/andychen.jpeg" alt="avatar">
                        </div>
                    </div>
                    <div class="col-9">
                        <a href="#" class="text-decoration-none text-dark fw-bold">Andy Chen</a>
                        <a href="#" class=" text-secondary text-decoration-none text-wrap">andy0401@mail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>